In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis = 1, inplace = True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
inputs = df.drop('Survived', axis = 1)
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [23]:
target = df.Survived
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [6]:
dummies = pd.get_dummies(inputs.Sex)
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [7]:
inputs = pd.concat([inputs, dummies], axis = 1)
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [8]:
inputs.drop(['Sex', 'female'], axis = 1, inplace = True)
inputs.head()

   Pclass   Age     Fare  male
0       3  22.0   7.2500     1
1       1  38.0  71.2833     0
2       3  26.0   7.9250     0
3       1  35.0  53.1000     0
4       3  35.0   8.0500     1

In [9]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [10]:
mean = round(inputs.Age.mean(), 2)
mean

29.7

In [11]:
inputs.Age = inputs.Age.fillna(mean)

In [12]:
inputs.head(10)

   Pclass   Age     Fare  male
0       3  22.0   7.2500     1
1       1  38.0  71.2833     0
2       3  26.0   7.9250     0
3       1  35.0  53.1000     0
4       3  35.0   8.0500     1
5       3  29.7   8.4583     1
6       1  54.0  51.8625     1
7       3   2.0  21.0750     1
8       3  27.0  11.1333     0
9       2  14.0  30.0708     0

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.3)

In [14]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [15]:
model.fit(X_train, y_train)

GaussianNB()

In [16]:
model.predict(X_test)

array([0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1], dtype=int64)

In [18]:
model.score(X_test, y_test)

0.7574626865671642

In [19]:
X_test[:10]

     Pclass   Age      Fare  male
623       3  21.0    7.8542     1
46        3  29.7   15.5000     1
540       1  36.0   71.0000     0
409       3  29.7   25.4667     0
520       1  30.0   93.5000     0
195       1  58.0  146.5208     0
434       1  50.0   55.9000     1
677       3  18.0    9.8417     0
798       3  30.0    7.2292     1
446       2  13.0   19.5000     0

In [20]:
y_test[:10]

623    0
46     0
540    1
409    0
520    1
195    1
434    0
677    1
798    0
446    1
Name: Survived, dtype: int64

In [21]:
model.predict(X_test[:10])

array([0, 0, 1, 1, 1, 1, 0, 1, 0, 1], dtype=int64)

In [22]:
model.predict_proba(X_test[:10])

array([[9.67675691e-01, 3.23243094e-02],
       [9.72671420e-01, 2.73285797e-02],
       [1.64964164e-02, 9.83503584e-01],
       [3.63537684e-01, 6.36462316e-01],
       [4.50143360e-03, 9.95498566e-01],
       [2.54635198e-05, 9.99974536e-01],
       [6.06883870e-01, 3.93116130e-01],
       [3.18518814e-01, 6.81481186e-01],
       [9.71947176e-01, 2.80528237e-02],
       [1.44378059e-01, 8.55621941e-01]])

In [24]:
from sklearn.model_selection import cross_val_score
cv = cross_val_score(GaussianNB(), X_train, y_train, cv = 5)
cv

array([0.816    , 0.8      , 0.808    , 0.7983871, 0.7016129])

In [25]:
import numpy as np
np.average(cv)

0.7848